h2{ background-color:#FFE59D;
}
p, h2 {text-align:center;
    color:#68A7AD;}
p, h4 {color:#1572A1;}
html{background-color:#CCD1E4;}
P, h1 {color:#5800FF;}
.hr-twill-colorful {
    border: 0;
    padding: 3px;
    background: linear-gradient(135deg, red, orange,green, blue, purple);
    --mask-image: repeating-linear-gradient(135deg, #000 0px, #000 1px, transparent 1px, transparent 6px);
    -webkit-mask-image: var(--mask-image);
    mask-image: var(--mask-image);
}