p, h2 {text-align:center;
    color:#68A7AD;}
p, h4 {color:#1572A1;}
P, h1 {color:#5800FF;}
.navigation ul {           
    margin: 0;             
    padding: 4px;          
    text-align: center;    
}
.navigation ul li {        
    list-style-type: none; 
    display: inline;       
    margin: 0 5px;         
    font-size: 15px;       
}
.navigation ul li a {      
    color:#D52484;         
    text-decoration: none; 
}
.navigation ul li a:hover {
    color: #EC9CD3;        
    text-decoration: underline;
}
.mainvisual {
    background-color:#BCA0D1; 
}
.bg {
            position: fixed;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            z-index: -999;
        }
        .bg img {
            min-height: 100%;
            width: 100%;
        }
  